.ticket-section {
  position: relative;
  overflow: hidden;
  padding-top: 214px;
  padding-bottom: 142px;
  @include bp(xs) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &:before {
    position: absolute;
    content: '';
    height: calc(100% - 54px);
    top: 54px;
    left: 0;
    width: 100%;
    background: #F9F9FB;
    @include bp(xs) {
      height: 100%;
      top: 0;
    }
  }
}

.ticket-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% - 7px));
  z-index: 1;
}

.ticket-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  @include bp(md) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .bordered-title {
    position: absolute;
    z-index: -1;
    top: -148px;
    left: 50%;
    transform: translateX(-50%);
    @include bp(md) {
      top: -172px;
      font-size: 96px;
    }
    @include bp(xs) {
      top: -90px;
    }
  }
}

.ticket-left {
  @include bp(md) {
    margin-bottom: 80px;
  }
  @include bp(xs) {
    margin-bottom: 50px;
  }
  .section-title {
    margin-bottom: 60px;
    @include bp(md) {
      margin-bottom: 23px;
    }
  }
}

.ticket-subtitle {
  display: block;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  color: $black;
  @include bp(xs) {
    font-size: 20px;
    line-height: 27px;
  }
}

.ticket-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: $gray;
  @include bp(xs) {
    font-size: 14px;
    line-height: 22px;
  }
  * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 24px;
  }

  ul {
    padding-left: 18px;
    list-style-type: disc;
    margin-bottom: 24px;
  }

  ol {
    padding-left: 18px;
    list-style-type: decimal;
    margin-bottom: 24px;
  }
}

.ticket-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
  width: 587px;
  max-width: 100%;
  margin-left: 76px;
  left: 1046px;
  top: 7597px;
  background: #fff;
  box-shadow: 5px 5px 30px rgba(205, 201, 201, 0.25);
  border-radius: 40px;
  text-align: center;
  transition: all ease-in-out 0.2s;
  @media (max-width: 1426px) {
    margin-left: 0;
  }
  @include bp(lg) {
    width: 100%;
    max-width: 500px;
  }
  @include bp(xs) {
    padding: 36px 10px;
  }
  .btn {
    width: 253px;
  }
}

.ticket-main__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 42px;
  color: $red;
  @include bp(xs) {
    margin-bottom: 32px;
  }
}

.ticket-main__price {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  font-size: 128px;
  line-height: 128px;
  color: $black;
  margin-bottom: 36px;
  @include bp(xs) {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 24px;
  }
  span {
    font-weight: 300;
    font-size: 70px;
    line-height: 1;
    color: $gray;
    @include bp(xs) {
      font-size: 45px;
    }
  }
}

.ticket-main__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
  margin-bottom: 36px;
  @include bp(xs) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
  }
}

.ticket-main__list {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: $gray;
  margin-bottom: 53px;
  @include bp(xs) {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 26px;
  }
  li {
    display: flex;
    align-items: center;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      min-width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $red;
      margin-right: 24px;
      @include bp(xs) {
        width: 22px;
        min-width: 22px;
        height: 22px;
        margin-right: 16px;
      }
    }
    + li {
      margin-top: 16px;
      @include bp(xs) {
        margin-top: 12px;
      }
    }
  }
}

.ticket-main__progress {
  height: 6px;
  background: #eee;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 36px;

  span {
    position: absolute;
    height: 6px;
    top: 0;
    left: 0;
    background-color: $red;
  }
}

.ticket-main__count {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $red;
  margin-bottom: 56px;
}
