<footer class="footer">
    <div class="container">
        <div class="row footer-wrapper">
            <div class="col-md-3">
                <a href="javascript:void(0)" class="footer-logo">
                    <img src="../../images/pixel.png" data-original="../../images/logo.png" class="lazy" alt="">
                </a>
                <div class="footer-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
            <div class="col-md-9 footer-right">
                <ul class="footer-menu">
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">About</a></li>
                    <li><a href="javascript:void(0)">Venue</a></li>
                    <li><a href="javascript:void(0)">Speakers</a></li>
                    <li><a href="javascript:void(0)">Shop</a></li>
                    <li><a href="javascript:void(0)">News</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="fixed-controls">
    <div class="container">
        <a href="#top" class="to-top">
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26 40.9482L26 11.0524" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.0527 26L26.0007 11.0521L40.9486 26" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
    </div>
</div>
